body {
  font-family: Hanken Grotesk;
}
.display-1 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 3.5rem;
  line-height: 76px;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 2.8rem;
  line-height: 61px;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 2.25rem;
  line-height: 49px;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.25rem;
  line-height: 1.55;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 100px;
}
.bg-primary {
  background-color: #101511 !important;
}
.bg-success {
  background-color: #6e716f !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #7463be !important;
}
.bg-danger {
  background-color: #ffc374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #101511 !important;
  border-color: #101511 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #eafa72 !important;
  border-color: #eafa72 !important;
  color: #5d6904 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #131601 !important;
  background-color: #def71e !important;
  border-color: #def71e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #5d6904 !important;
  background-color: #def71e !important;
  border-color: #def71e !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #6e716f !important;
  border-color: #6e716f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #434544 !important;
  border-color: #434544 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #434544 !important;
  border-color: #434544 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #7463be !important;
  border-color: #7463be !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #4b3c8f !important;
  border-color: #4b3c8f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #4b3c8f !important;
  border-color: #4b3c8f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffc374 !important;
  border-color: #ffc374 !important;
  color: #744200 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff9e1d !important;
  border-color: #ff9e1d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #744200 !important;
  background-color: #ff9e1d !important;
  border-color: #ff9e1d !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #101511;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #101511 !important;
  border-color: #101511 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eafa72;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #def71e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #5d6904 !important;
  background-color: #eafa72 !important;
  border-color: #eafa72 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6e716f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #434544 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #6e716f !important;
  border-color: #6e716f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #7463be;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #4b3c8f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #7463be !important;
  border-color: #7463be !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffc374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff9e1d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #744200 !important;
  background-color: #ffc374 !important;
  border-color: #ffc374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #101511 !important;
}
.text-secondary {
  color: #eafa72 !important;
}
.text-success {
  color: #6e716f !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #7463be !important;
}
.text-danger {
  color: #ffc374 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #dbf70f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3c3d3c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #453784 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff970e !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #101511;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #7463be;
}
.alert-danger {
  background-color: #ffc374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #101511;
  border-color: #101511;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #101511;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bdcdc0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #aeb0af;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c4bde4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #101511 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #101511;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #101511;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #101511;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #101511;
  border-bottom-color: #101511;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #101511 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #eafa72 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23101511' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  min-height: 77px;
  min-width: 280px;
  padding: 9px 15px;
  box-shadow: none;
}
@media (max-width: 992px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    min-height: 71px;
    min-width: 180px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  color: #101511 !important;
  border: none;
  background-color: #eafa72 !important;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline {
  border: 2px solid #101511;
}
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline {
  border: 2px solid #eafa72;
}
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline {
  border: 2px solid #6e716f;
}
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline {
  border: 2px solid #ffffff;
}
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline {
  border: 2px solid #7463be;
}
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline {
  border: 2px solid #ffc374;
}
.cid-tpSXP85Pwt {
  z-index: 1000;
  width: 100%;
  background: #e8e8e8 !important;
}
.cid-tpSXP85Pwt .menu_box {
  background: rgba(255, 255, 255, 0.7) !important;
  padding: 0;
  border-radius: 100px;
  position: relative;
}
.cid-tpSXP85Pwt .menu_box .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tpSXP85Pwt .menu_box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  border-radius: 100px;
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .menu_box .navbar.opened,
  .cid-tpSXP85Pwt .menu_box .navbar-collapse {
    background-color: #ffffff !important;
    transition: all 0s ease 0s;
  }
}
.cid-tpSXP85Pwt nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-tpSXP85Pwt .navbar-dropdown.navbar-fixed-top {
  position: relative;
  background: transparent;
}
.cid-tpSXP85Pwt .navbar-dropdown.navbar-fixed-top.navbar-short {
  position: fixed;
  background: transparent;
}
.cid-tpSXP85Pwt .navbar-dropdown.navbar-fixed-top.navbar-short .menu {
  color: transparent !important;
}
.cid-tpSXP85Pwt .navbar-dropdown {
  padding: 0;
  background: transparent;
}
@media (max-width: 992px) {
  .cid-tpSXP85Pwt .navbar-dropdown {
    top: 0;
  }
}
.cid-tpSXP85Pwt .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-tpSXP85Pwt .btn {
  min-height: 55px;
  box-shadow: none;
  margin-top: 0;
}
.cid-tpSXP85Pwt .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tpSXP85Pwt .offcanvas {
    padding: 12rem 80px 0;
    width: 40%;
    background-color: #101511;
  }
  .cid-tpSXP85Pwt .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tpSXP85Pwt .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tpSXP85Pwt .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tpSXP85Pwt .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tpSXP85Pwt .offcanvas-body .mbr-text,
  .cid-tpSXP85Pwt .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-tpSXP85Pwt .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
    margin-right: 20px;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #101511;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tpSXP85Pwt .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tpSXP85Pwt ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tpSXP85Pwt .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tpSXP85Pwt .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tpSXP85Pwt .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tpSXP85Pwt li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tpSXP85Pwt .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tpSXP85Pwt .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tpSXP85Pwt .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .nav-item {
    margin: 0 !important;
  }
}
.cid-tpSXP85Pwt .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tpSXP85Pwt .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tpSXP85Pwt .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tpSXP85Pwt .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tpSXP85Pwt .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tpSXP85Pwt .offcanvas_box {
    display: none;
  }
}
.cid-tpSXP85Pwt .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-tpSXP85Pwt .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tpSXP85Pwt .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tpSXP85Pwt .container {
  display: flex;
  margin: auto;
}
.cid-tpSXP85Pwt .iconfont-wrapper {
  color: #6e716f;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tpSXP85Pwt .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tpSXP85Pwt .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tpSXP85Pwt .navbar-caption {
  font-weight: 400;
  color: #f2f2f2;
}
.cid-tpSXP85Pwt .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tpSXP85Pwt .navbar-nav {
    margin: 0;
  }
}
.cid-tpSXP85Pwt .dropdown-menu,
.cid-tpSXP85Pwt .navbar.opened {
  background-color: true !important;
}
.cid-tpSXP85Pwt .nav-item:focus,
.cid-tpSXP85Pwt .nav-link:focus {
  outline: none;
}
.cid-tpSXP85Pwt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tpSXP85Pwt .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tpSXP85Pwt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tpSXP85Pwt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tpSXP85Pwt .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tpSXP85Pwt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tpSXP85Pwt .navbar {
  min-height: 100px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
.cid-tpSXP85Pwt .navbar.opened {
  transition: all 0.3s;
}
.cid-tpSXP85Pwt .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tpSXP85Pwt .navbar .navbar-logo img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 100%;
}
.cid-tpSXP85Pwt .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tpSXP85Pwt .navbar.collapsed {
  justify-content: center;
}
.cid-tpSXP85Pwt .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tpSXP85Pwt .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tpSXP85Pwt .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tpSXP85Pwt .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tpSXP85Pwt .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tpSXP85Pwt .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tpSXP85Pwt .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tpSXP85Pwt .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tpSXP85Pwt .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tpSXP85Pwt .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tpSXP85Pwt .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tpSXP85Pwt .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tpSXP85Pwt .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tpSXP85Pwt .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tpSXP85Pwt .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tpSXP85Pwt .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tpSXP85Pwt .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tpSXP85Pwt .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tpSXP85Pwt .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tpSXP85Pwt .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tpSXP85Pwt .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tpSXP85Pwt .navbar.navbar-short {
  min-height: 60px;
}
.cid-tpSXP85Pwt .navbar.navbar-short .navbar-brand {
  min-height: 45px;
  padding: 0 12px;
}
.cid-tpSXP85Pwt .navbar-brand {
  min-height: 45px;
  flex-shrink: 0;
  align-items: center;
  padding: 0 12px;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  border-radius: 100px;
  background-color: #101511;
  margin: 16px;
}
.cid-tpSXP85Pwt .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tpSXP85Pwt .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tpSXP85Pwt .dropdown-item.active,
.cid-tpSXP85Pwt .dropdown-item:active {
  background-color: transparent;
}
.cid-tpSXP85Pwt .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tpSXP85Pwt .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tpSXP85Pwt .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tpSXP85Pwt .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tpSXP85Pwt .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tpSXP85Pwt .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tpSXP85Pwt ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-tpSXP85Pwt .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tpSXP85Pwt button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #ffffff;
  margin-right: 15px;
}
.cid-tpSXP85Pwt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #101511;
}
.cid-tpSXP85Pwt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tpSXP85Pwt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tpSXP85Pwt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tpSXP85Pwt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tpSXP85Pwt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tpSXP85Pwt nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tpSXP85Pwt nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tpSXP85Pwt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tpSXP85Pwt a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tpSXP85Pwt .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tpSXP85Pwt .navbar {
    height: 70px;
  }
  .cid-tpSXP85Pwt .navbar.opened {
    height: auto;
  }
  .cid-tpSXP85Pwt .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tpSXP85Pwt .navbar-dropdown .navbar-logo {
  margin-right: 5px;
}
@media (min-width: 768px) {
  .cid-tpSXP85Pwt .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.cid-tpSXP85Pwt .mbr-section-btn-main .btn {
  max-height: 45px;
  min-height: auto;
  min-width: 160px;
  margin: 16px;
}
.cid-tpSXP85Pwt .navbar-caption:hover {
  color: #eafa72;
}
@media (min-width: 992px) {
  .cid-tpSXP85Pwt .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tpSXP85Pwt .nav-link:hover {
  color: #6e716f !important;
}
.cid-tpSXP85Pwt .mbr-section-subtitle {
  color: #f2f2f2;
}
.cid-tpSXP85Pwt .mbr-text {
  color: #f2f2f2;
  text-align: center;
}
.cid-tpSXP85Pwt .text_widget {
  color: #f2f2f2;
}
.cid-tpSXP85Pwt .mbr-section-subtitle,
.cid-tpSXP85Pwt .text_widget,
.cid-tpSXP85Pwt .mbr-section-btn {
  text-align: center;
}
.cid-tpSXP85Pwt a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tpSYzF1kmL {
  background-color: #e8e8e8;
}
.cid-tpSYzF1kmL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSYzF1kmL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSYzF1kmL .title-wrapper {
  padding: 50px 80px 0 0;
}
@media (max-width: 992px) {
  .cid-tpSYzF1kmL .title-wrapper {
    margin-bottom: 32px;
    padding: 0;
  }
}
.cid-tpSYzF1kmL .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tpSYzF1kmL .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tpSYzF1kmL .title-wrapper .mbr-section-btn {
  position: relative;
}
.cid-tpSYzF1kmL .title-wrapper .mbr-section-btn::before {
  content: '';
  position: absolute;
  left: 3rem;
  top: -3rem;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  filter: blur(25px) blur(25px);
  background-color: #eafa72;
}
.cid-tpSYzF1kmL .title-wrapper .mbr-section-btn .btn {
  position: relative;
  z-index: 1;
  min-height: 77px;
  min-width: 280px;
}
@media (max-width: 992px) {
  .cid-tpSYzF1kmL .title-wrapper .mbr-section-btn .btn {
    min-height: 71px;
    min-width: 250px;
  }
}
.cid-tpSYzF1kmL .image-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.cid-tpSYzF1kmL .image-wrapper::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  filter: blur(35px) blur(35px);
  background-color: #eafa72;
}
@media (max-width: 992px) {
  .cid-tpSYzF1kmL .image-wrapper::before {
    width: 250px;
    height: 250px;
  }
}
.cid-tpSYzF1kmL .image-wrapper::after {
  content: '';
  position: absolute;
  right: .3rem;
  bottom: -3rem;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  width: 550px;
  height: 550px;
  background-color: transparent;
}
@media (max-width: 992px) {
  .cid-tpSYzF1kmL .image-wrapper::after {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .cid-tpSYzF1kmL .image-wrapper::after {
    display: none;
  }
}
.cid-tpSYzF1kmL .image-wrapper img {
  border-radius: 10px;
  box-shadow: 6px 6px 20px #6e716f;
}
.cid-tpSYzF1kmL .image-wrapper .image_1 {
  width: 250px;
  max-height: 250px;
  object-fit: cover;
  z-index: 2;
  position: relative;
  transform: rotate(5deg);
}
@media (max-width: 768px) {
  .cid-tpSYzF1kmL .image-wrapper .image_1 {
    width: 100%;
    height: 250px;
    margin: 0 0 32px 0;
  }
}
.cid-tpSYzF1kmL .image-wrapper .image_2 {
  display: block;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 1rem 0 0 auto;
  z-index: 2;
  position: relative;
  transform: rotate(18deg);
}
@media (max-width: 768px) {
  .cid-tpSYzF1kmL .image-wrapper .image_2 {
    width: 100%;
    height: 250px;
    transform: rotate(5deg);
    margin: 0 0 32px 0;
  }
}
.cid-tpSYzF1kmL .image-wrapper .image_3 {
  width: 250px;
  height: 250px;
  margin: 0 0 0 -2rem;
  object-fit: cover;
  z-index: 1;
  transform: rotate(-5deg);
}
@media (max-width: 768px) {
  .cid-tpSYzF1kmL .image-wrapper .image_3 {
    width: 100%;
    height: 250px;
    margin: 0 0 32px 0;
  }
}
.cid-tpSYzF1kmL .image-wrapper .image_4 {
  width: 280px;
  height: 250px;
  margin: 0 0 0 auto;
  object-fit: cover;
  z-index: 2;
  transform: rotate(-2deg);
}
@media (max-width: 768px) {
  .cid-tpSYzF1kmL .image-wrapper .image_4 {
    margin: 0;
    width: 100%;
    height: 250px;
  }
}
.cid-tpSYzF1kmL .mbr-section-title {
  color: #101511;
}
.cid-tpSYzF1kmL .mbr-text {
  color: #6e716f;
}
.cid-tpSXVG4FoJ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSXVG4FoJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSXVG4FoJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSXVG4FoJ .text-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tpSXVG4FoJ .text-wrapper .mbr-text {
  margin: 32px 0 0 0;
}
.cid-tpSXVG4FoJ .date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tpSXVG4FoJ .date-wrapper {
    margin-bottom: 32px;
  }
}
.cid-tpSXVG4FoJ .date-wrapper .mbr-iconfont {
  font-size: 48px;
  margin-right: 10px;
}
.cid-tpSXVG4FoJ .date-wrapper .mbr-date {
  margin: 0;
}
.cid-tpSXVG4FoJ .icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cid-tpSXVG4FoJ .icons-wrapper .mbr-iconfont {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #e8e8e8;
  margin: 0 5px 10px 5px;
  transition: all .3s ease;
}
.cid-tpSXVG4FoJ .icons-wrapper .mbr-iconfont:hover {
  opacity: .7;
}
.cid-tpSXVG4FoJ .mbr-date,
.cid-tpSXVG4FoJ .mbr-iconfont {
  color: #eafa72;
}
.cid-tpSXSadNpJ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8e8e8;
}
.cid-tpSXSadNpJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSXSadNpJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSXSadNpJ .row {
  justify-content: center;
}
.cid-tpSXSadNpJ .title-wrapper {
  margin-bottom: 75px;
}
@media (max-width: 992px) {
  .cid-tpSXSadNpJ .title-wrapper {
    margin-bottom: 45px;
  }
}
.cid-tpSXSadNpJ .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tpSXSadNpJ .card {
  padding: 0 32px;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tpSXSadNpJ .card {
    margin-bottom: 32px;
  }
}
.cid-tpSXSadNpJ .card .card-wrapper {
  padding: 0 78px 48px;
  border-radius: 40px;
  overflow: visible;
  transform: rotate(355deg);
  background-color: #101511;
}
@media (max-width: 992px) {
  .cid-tpSXSadNpJ .card .card-wrapper {
    padding: 32px 68px;
  }
}
@media (max-width: 768px) {
  .cid-tpSXSadNpJ .card .card-wrapper {
    padding: 32px;
  }
}
.cid-tpSXSadNpJ .card .card-wrapper .card-title-wrapper {
  border-radius: 17px;
  padding: 16px 32px;
  width: fit-content;
  margin-left: -2rem;
  transform: rotate(340deg);
  background-color: #eafa72;
}
.cid-tpSXSadNpJ .card .card-wrapper .card-title-wrapper .mbr-title_1,
.cid-tpSXSadNpJ .card .card-wrapper .card-title-wrapper .mbr-title_2 {
  margin: 0;
}
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .mbr-desc_1,
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .mbr-desc_2 {
  margin: 48px 0 0 0;
}
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .mbr-text_1,
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .mbr-text_2 {
  margin: 16px 0 0 0;
}
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .link-wrapper {
  display: block;
  margin: 24px 0 0 0;
  transition: all .3s ease;
}
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .link-wrapper:hover {
  opacity: .7;
}
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .link-wrapper .mbr-link_1,
.cid-tpSXSadNpJ .card .card-wrapper .text-wrapper .link-wrapper .mbr-link_2 {
  margin: 0;
}
.cid-tpSXSadNpJ .card:nth-child(2n) .card-wrapper {
  background-color: #ffffff;
  transform: rotate(5deg);
}
.cid-tpSXSadNpJ .card:nth-child(2n) .card-wrapper .card-title-wrapper {
  transform: rotate(14deg);
  background-color: #101511;
}
.cid-tpSXSadNpJ .mbr-section-title {
  color: #101511;
  text-align: center;
}
.cid-tpSXSadNpJ .mbr-title_1 {
  color: #101511;
  text-align: center;
}
.cid-tpSXSadNpJ .mbr-title_2 {
  color: #ffffff;
  text-align: center;
}
.cid-tpSXSadNpJ .mbr-desc_1 {
  color: #e8e8e8;
}
.cid-tpSXSadNpJ .mbr-desc_2 {
  color: #6e716f;
}
.cid-tpSXSadNpJ .mbr-text_1 {
  color: #e8e8e8;
}
.cid-tpSXSadNpJ .mbr-text_2 {
  color: #6e716f;
}
.cid-tpSXSadNpJ .mbr-link_1 {
  color: #eafa72;
}
.cid-tpSXSadNpJ .mbr-link_2 {
  color: #101511;
}
.cid-tpSY2QXcEH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSY2QXcEH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSY2QXcEH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSY2QXcEH .mbr-section-title {
  margin-bottom: 75px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tpSY2QXcEH .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tpSY2QXcEH .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 40px;
  border-radius: 20px;
  background-color: #eafa72;
}
@media (max-width: 992px) {
  .cid-tpSY2QXcEH .image-wrapper {
    padding: 45px 32px;
    margin-bottom: 32px;
  }
}
.cid-tpSY2QXcEH .image-wrapper img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
  box-shadow: 6px 6px 20px #6e716f;
  border-radius: 10px;
}
.cid-tpSY2QXcEH .text-wrapper {
  padding-left: 4rem;
}
@media (max-width: 992px) {
  .cid-tpSY2QXcEH .text-wrapper {
    padding: 0;
  }
}
.cid-tpSY2QXcEH .text-wrapper .mbr-number {
  margin-bottom: 104px;
}
@media (max-width: 992px) {
  .cid-tpSY2QXcEH .text-wrapper .mbr-number {
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .cid-tpSY2QXcEH .text-wrapper .mbr-number {
    margin-bottom: 32px;
  }
}
.cid-tpSY2QXcEH .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tpSY2QXcEH .mbr-number {
  color: #eafa72;
}
.cid-tpSY2QXcEH .mbr-text {
  color: #e8e8e8;
}
.cid-tpSY5bDfMj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8e8e8;
}
.cid-tpSY5bDfMj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSY5bDfMj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSY5bDfMj .mbr-section-title {
  margin-bottom: 75px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tpSY5bDfMj .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tpSY5bDfMj .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 40px;
  border-radius: 20px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tpSY5bDfMj .image-wrapper {
    padding: 45px 32px;
    margin-bottom: 32px;
  }
}
.cid-tpSY5bDfMj .image-wrapper img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
  box-shadow: 6px 6px 20px #6e716f;
  border-radius: 10px;
}
.cid-tpSY5bDfMj .text-wrapper {
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
@media (max-width: 992px) {
  .cid-tpSY5bDfMj .text-wrapper {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tpSY5bDfMj .text-wrapper {
    padding: 0;
  }
}
.cid-tpSY5bDfMj .text-wrapper .mbr-number {
  margin-bottom: 104px;
}
@media (max-width: 992px) {
  .cid-tpSY5bDfMj .text-wrapper .mbr-number {
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .cid-tpSY5bDfMj .text-wrapper .mbr-number {
    margin-bottom: 32px;
  }
}
.cid-tpSY5bDfMj .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tpSY5bDfMj .mbr-number {
  color: #101511;
}
.cid-tpSY5bDfMj .mbr-text {
  color: #101511;
}
.cid-tpSY5QPdYm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSY5QPdYm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSY5QPdYm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSY5QPdYm .mbr-section-title {
  margin-bottom: 75px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tpSY5QPdYm .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tpSY5QPdYm .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 40px;
  border-radius: 20px;
  background-color: #eafa72;
}
@media (max-width: 992px) {
  .cid-tpSY5QPdYm .image-wrapper {
    padding: 45px 32px;
    margin-bottom: 32px;
  }
}
.cid-tpSY5QPdYm .image-wrapper img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
  box-shadow: 6px 6px 20px #6e716f;
  border-radius: 10px;
}
.cid-tpSY5QPdYm .text-wrapper {
  padding-left: 4rem;
}
@media (max-width: 992px) {
  .cid-tpSY5QPdYm .text-wrapper {
    padding: 0;
  }
}
.cid-tpSY5QPdYm .text-wrapper .mbr-number {
  margin-bottom: 104px;
}
@media (max-width: 992px) {
  .cid-tpSY5QPdYm .text-wrapper .mbr-number {
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .cid-tpSY5QPdYm .text-wrapper .mbr-number {
    margin-bottom: 32px;
  }
}
.cid-tpSY5QPdYm .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tpSY5QPdYm .mbr-number {
  color: #eafa72;
}
.cid-tpSY5QPdYm .mbr-text {
  color: #e8e8e8;
}
.cid-tpSYVJm1zf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8e8e8;
}
.cid-tpSYVJm1zf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSYVJm1zf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSYVJm1zf .text-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tpSYVJm1zf .text-wrapper .mbr-text {
  margin: 32px 0 0 0;
}
.cid-tpSYVJm1zf .mbr-section-title {
  color: #101511;
  text-align: center;
}
.cid-tpSYVJm1zf .mbr-text {
  color: #6e716f;
  text-align: center;
}
.cid-tpSZ8JSNdk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSZ8JSNdk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZ8JSNdk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZ8JSNdk .row {
  justify-content: center;
}
.cid-tpSZ8JSNdk .title-wrapper {
  margin-bottom: 75px;
}
@media (max-width: 992px) {
  .cid-tpSZ8JSNdk .title-wrapper {
    margin-bottom: 45px;
  }
}
.cid-tpSZ8JSNdk .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tpSZ8JSNdk .card-wrapper {
  padding: 104px 72px;
  border-radius: 40px;
  position: relative;
  background-color: #f2f2f2;
  overflow: visible;
}
@media (max-width: 768px) {
  .cid-tpSZ8JSNdk .card-wrapper {
    padding: 64px 32px;
  }
}
.cid-tpSZ8JSNdk .card-wrapper .mbr-card-title {
  margin-bottom: 24px;
}
.cid-tpSZ8JSNdk .card-wrapper .mbr-list {
  margin: 0 0 32px 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}
.cid-tpSZ8JSNdk .card-wrapper .mbr-list li {
  margin-bottom: 16px;
}
.cid-tpSZ8JSNdk .card-wrapper .mbr-list li::before {
  content: 'Ã—';
  display: inline;
  margin-right: 18px;
  font-weight: bold;
  color: #101511;
}
.cid-tpSZ8JSNdk .card-wrapper .image_1 {
  width: 290px;
  height: 260px;
  top: -1rem;
  right: -14rem;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .cid-tpSZ8JSNdk .card-wrapper .image_1 {
    display: none;
  }
}
.cid-tpSZ8JSNdk .card-wrapper .image_2 {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 260px;
  height: 220px;
  left: -14rem;
  bottom: -2rem;
}
@media (max-width: 992px) {
  .cid-tpSZ8JSNdk .card-wrapper .image_2 {
    display: none;
  }
}
.cid-tpSZ8JSNdk .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tpSZ8JSNdk .mbr-card-title {
  color: #101511;
}
.cid-tpSZ8JSNdk .mbr-list {
  color: #6e716f;
}
.cid-tpSZ8JSNdk .mbr-card-title,
.cid-tpSZ8JSNdk .mbr-section-btn {
  text-align: center;
}
.cid-tpSZ9YYa47 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8e8e8;
}
.cid-tpSZ9YYa47 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZ9YYa47 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZ9YYa47 .title-wrapper {
  margin-bottom: 75px;
}
@media (max-width: 992px) {
  .cid-tpSZ9YYa47 .title-wrapper {
    margin-bottom: 45px;
  }
}
.cid-tpSZ9YYa47 .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-tpSZ9YYa47 .panel-group {
  border-top: 1px solid #f2f2f2;
}
.cid-tpSZ9YYa47 .panel-group .card {
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0;
}
.cid-tpSZ9YYa47 .panel-group .card .card-header {
  padding: 24px 0;
  background-color: transparent;
  border: none;
}
@media (max-width: 768px) {
  .cid-tpSZ9YYa47 .panel-group .card .card-header {
    padding: 16px 0;
  }
}
.cid-tpSZ9YYa47 .panel-group .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-tpSZ9YYa47 .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  transform: rotate(-45deg);
  background-color: #eafa72;
  color: #101511;
}
.cid-tpSZ9YYa47 .panel-group .card .card-header .panel-title:hover .mbr-iconfont {
  background-color: #eafa72;
  color: #101511;
}
.cid-tpSZ9YYa47 .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-bottom: 0;
}
.cid-tpSZ9YYa47 .panel-group .card .card-header .panel-title .mbr-iconfont {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #101511;
  color: #eafa72;
  border-radius: 100%;
  font-size: 24px;
  transition: all .3s ease;
}
.cid-tpSZ9YYa47 .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .cid-tpSZ9YYa47 .panel-group .card .panel-collapse .panel-body .panel-text {
    margin-bottom: 24px;
  }
}
.cid-tpSZ9YYa47 .mbr-section-title {
  color: #101511;
  text-align: center;
}
.cid-tpSZ9YYa47 .panel-title-edit {
  color: #101511;
}
.cid-tpSZ9YYa47 .panel-text {
  color: #6e716f;
}
.cid-tpSZknW4Nj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSZknW4Nj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZknW4Nj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZknW4Nj .row {
  justify-content: center;
}
.cid-tpSZknW4Nj .title-wrapper {
  margin-bottom: 75px;
}
@media (max-width: 992px) {
  .cid-tpSZknW4Nj .title-wrapper {
    margin-bottom: 45px;
  }
}
.cid-tpSZknW4Nj .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-tpSZknW4Nj .title-wrapper .mbr-desc {
  margin: 0;
}
.cid-tpSZknW4Nj .image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin: 0 1rem;
}
.cid-tpSZknW4Nj .image-wrapper:hover img {
  opacity: .7;
}
.cid-tpSZknW4Nj .image-wrapper:hover .circle-wrapper .mbr-iconfont {
  transform: rotate(180deg);
}
.cid-tpSZknW4Nj .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 40px;
  transition: all .3s ease;
}
.cid-tpSZknW4Nj .image-wrapper .circle-wrapper {
  width: 154px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eafa72;
  border-radius: 100%;
  z-index: 1;
}
.cid-tpSZknW4Nj .image-wrapper .circle-wrapper .mbr-iconfont {
  font-size: 70px;
  display: block;
  color: #101511;
  transition: all .3s ease;
}
.cid-tpSZknW4Nj .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tpSZknW4Nj .mbr-desc {
  color: #f2f2f2;
  text-align: center;
}
.cid-tpSZbu7KUh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e8e8e8;
}
.cid-tpSZbu7KUh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZbu7KUh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZbu7KUh .row {
  justify-content: center;
}
.cid-tpSZbu7KUh .mbr-form {
  padding: 40px 45px;
}
@media (max-width: 992px) {
  .cid-tpSZbu7KUh .mbr-form {
    padding: 32px 24px;
  }
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .mbr-section-title {
  margin-bottom: 11px;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .mbr-text {
  margin-bottom: 22px;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group {
  margin-bottom: 25px !important;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-control-label {
  width: 100%;
  padding: 0 10px 5px 0;
  margin: 0;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-control {
  padding: 0 20px;
  background-color: #ffffff;
  min-height: 60px;
  border-radius: 100px;
  box-shadow: none;
  border: none !important;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-control::placeholder {
  color: #6e716f;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-control:hover,
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-control:focus {
  border: none !important;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-check {
  padding-left: 1.9em;
  margin: 0;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-check .form-check-input {
  border-radius: 0;
  border: 2px solid #6e716f;
  background-color: transparent;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group .form-check .form-check-label {
  width: 100%;
  padding-top: 4px;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .form-group textarea {
  padding: 10px 20px 0;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .mbr-section-btn {
  width: 100% !important;
}
.cid-tpSZbu7KUh .mbr-form .dragArea.row .mbr-section-btn .btn {
  min-height: 54px;
}
.cid-tpSZbu7KUh .mbr-section-title {
  color: #101511;
  text-align: center;
}
.cid-tpSZbu7KUh .mbr-text {
  color: #6e716f;
  text-align: center;
}
.cid-tpSZbu7KUh LABEL {
  color: #101511;
}
.cid-tpSZzPPqHI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSZzPPqHI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZzPPqHI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZzPPqHI .text-wrapper {
  padding: 0 10%;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tpSZzPPqHI .text-wrapper {
    padding: 0 32px;
  }
}
.cid-tpSZzPPqHI .text-wrapper .mbr-iconfont {
  position: absolute;
  top: 0;
  left: 7%;
  color: #101511;
  font-size: 48px;
  z-index: 1;
}
@media (max-width: 768px) {
  .cid-tpSZzPPqHI .text-wrapper .mbr-iconfont {
    left: 0;
  }
}
.cid-tpSZzPPqHI .text-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  filter: blur(75px) blur(75px);
  background-color: #eafa72;
}
.cid-tpSZzPPqHI .text-wrapper .mbr-text {
  position: relative;
  z-index: 2;
  margin: 0;
}
.cid-tpSZzPPqHI .mbr-text {
  color: #e8e8e8;
}
.cid-tpSZ7qydfk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101511;
}
.cid-tpSZ7qydfk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpSZ7qydfk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpSZ7qydfk .mbr-section-title {
  margin-bottom: 24px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-tpSZ7qydfk .mbr-section-title {
    text-align: center;
  }
}
.cid-tpSZ7qydfk .soc-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .cid-tpSZ7qydfk .soc-wrapper {
    margin-bottom: 22px;
    display: block;
  }
}
.cid-tpSZ7qydfk .soc-wrapper .mbr-soc {
  margin-bottom: 16px;
  margin-right: 30px;
  transition: all .3s ease;
}
.cid-tpSZ7qydfk .soc-wrapper .mbr-soc:hover {
  opacity: .7;
}
@media (max-width: 768px) {
  .cid-tpSZ7qydfk .soc-wrapper .mbr-soc {
    margin-right: 0;
    text-align: center;
  }
}
.cid-tpSZ7qydfk .soc-wrapper .mbr-soc .mbr-iconfont {
  margin-right: 15px;
  font-size: 20px;
  width: 31px;
  height: 31px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #6e716f;
  border-radius: 100%;
}
.cid-tpSZ7qydfk .list {
  list-style-type: none;
  padding: 1rem 0 0 0;
  margin: 0;
  color: #e8e8e8;
  text-align: right;
}
@media (max-width: 768px) {
  .cid-tpSZ7qydfk .list {
    text-align: center;
  }
}
.cid-tpSZ7qydfk .list li {
  margin-bottom: 24px;
  transition: all .3s ease;
}
.cid-tpSZ7qydfk .list li:hover {
  color: #eafa72;
}
.cid-tpSZ7qydfk .copyright {
  margin: 32px 0 0 0;
  color: #6e716f;
  text-align: right;
}
@media (max-width: 768px) {
  .cid-tpSZ7qydfk .copyright {
    text-align: center;
  }
}
.cid-tpSZ7qydfk .mbr-soc,
.cid-tpSZ7qydfk .mbr-iconfont {
  color: #e8e8e8;
}
