body {
  font-family: Kiwi Maru;
}
.display-1 {
  font-family: 'Kiwi Maru', serif;
  font-size: 5.2rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.5rem;
}
.display-2 {
  font-family: 'Kiwi Maru', serif;
  font-size: 2.8rem;
  line-height: 1.15;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  line-height: 1.45;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Kiwi Maru', serif;
  font-size: 1.25rem;
  line-height: 1.25;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5625rem;
}
.display-7 {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  line-height: 1.55;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.16rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.64rem;
    font-size: calc( 2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 2.4rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #1976d3 !important;
}
.bg-success {
  background-color: #84b134 !important;
}
.bg-info {
  background-color: #f9eb72 !important;
}
.bg-warning {
  background-color: #ff9966 !important;
}
.bg-danger {
  background-color: #fd72a2 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1976d3 !important;
  color: #ffffff !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #104b85 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #104b85 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #1d1d1b !important;
  background-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ebeae2 !important;
  color: #7a7654 !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c8c5af !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #7a7654 !important;
  background-color: #c8c5af !important;
}
.btn-info,
.btn-info:active {
  background-color: #f9eb72 !important;
  color: #685d04 !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #141201 !important;
  background-color: #f5df1f !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #685d04 !important;
  background-color: #f5df1f !important;
}
.btn-success,
.btn-success:active {
  background-color: #84b134 !important;
  color: #ffffff !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #526e20 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #526e20 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fd72a2 !important;
  color: #ffffff !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #fc1d6a !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #fc1d6a !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #1976d3 !important;
}
.btn-black,
.btn-black:active {
  background-color: #1d1d1b !important;
  color: #ffffff !important;
  box-shadow: 0 10px 20px 0 rgba(29, 29, 27, 0.2);
  border: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1976d3;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #104b85 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1976d3 !important;
  border-color: #1976d3 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ebeae2;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c8c5af !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #7a7654 !important;
  background-color: #ebeae2 !important;
  border-color: #ebeae2 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f9eb72;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #f5df1f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #685d04 !important;
  background-color: #f9eb72 !important;
  border-color: #f9eb72 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #84b134;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #526e20 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #84b134 !important;
  border-color: #84b134 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fd72a2;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #fc1d6a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fd72a2 !important;
  border-color: #fd72a2 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1d1d1b;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1d1d1b !important;
  border-color: #1d1d1b !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #1976d3 !important;
}
.text-secondary {
  color: #ebeae2 !important;
}
.text-success {
  color: #84b134 !important;
}
.text-info {
  color: #f9eb72 !important;
}
.text-warning {
  color: #ff9966 !important;
}
.text-danger {
  color: #fd72a2 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #1d1d1b !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0e4378 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c1bea6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #49621d !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #f5dd10 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ff5500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fc0d60 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #1976d3;
}
.nav-tabs .nav-link:not(.active) {
  color: #1d1d1b;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f9eb72;
}
.alert-warning {
  background-color: #ff9966;
}
.alert-danger {
  background-color: #fd72a2;
}
.btn {
  border-radius: 60px;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 60px;
}
.mbr-gallery-filter li a {
  border-radius: 60px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1976d3;
  border-color: #1976d3;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 60px !important;
}
a,
a:hover {
  color: #1976d3;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c0dcf8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bedc88;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #1976d3 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #1976d3;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 60px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 60px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1976d3;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #1976d3;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1976d3;
  border-bottom-color: #1976d3;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #1976d3 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ebeae2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231976d3' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sRQjR1mphb {
  z-index: 1000;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-sRQjR1mphb .align-right {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .cid-sRQjR1mphb .navbar-dropdown {
    padding: 0 1rem;
  }
}
.cid-sRQjR1mphb .navbar-caption {
  font-weight: 500;
}
.cid-sRQjR1mphb nav.navbar {
  position: fixed;
}
.cid-sRQjR1mphb .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sRQjR1mphb .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.cid-sRQjR1mphb .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sRQjR1mphb .dropdown-item:hover,
.cid-sRQjR1mphb .dropdown-item:focus {
  color: #1976d3 !important;
}
.cid-sRQjR1mphb .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sRQjR1mphb .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sRQjR1mphb .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sRQjR1mphb .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sRQjR1mphb .nav-link {
  position: relative;
}
.cid-sRQjR1mphb .nav-link:hover {
  color: #1976d3 !important;
}
.cid-sRQjR1mphb .container {
  display: flex;
  margin: auto;
}
@media (min-width: 991px) {
  .cid-sRQjR1mphb .container,
  .cid-sRQjR1mphb .container-fluid {
    flex-wrap: nowrap;
  }
}
.cid-sRQjR1mphb .dropdown-menu,
.cid-sRQjR1mphb .navbar.opened {
  background: #ffffff !important;
}
.cid-sRQjR1mphb .nav-item:focus,
.cid-sRQjR1mphb .nav-link:focus {
  outline: none;
}
.cid-sRQjR1mphb .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sRQjR1mphb .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sRQjR1mphb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sRQjR1mphb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sRQjR1mphb .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sRQjR1mphb .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sRQjR1mphb .navbar {
  min-height: 100px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.6);
}
.cid-sRQjR1mphb .navbar.opened {
  transition: all 0.3s;
}
.cid-sRQjR1mphb .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sRQjR1mphb .navbar .navbar-logo img {
  width: auto;
}
.cid-sRQjR1mphb .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sRQjR1mphb .navbar.collapsed {
  justify-content: center;
}
.cid-sRQjR1mphb .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sRQjR1mphb .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sRQjR1mphb .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sRQjR1mphb .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sRQjR1mphb .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sRQjR1mphb .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sRQjR1mphb .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-sRQjR1mphb .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sRQjR1mphb .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sRQjR1mphb .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sRQjR1mphb .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sRQjR1mphb .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sRQjR1mphb .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sRQjR1mphb .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sRQjR1mphb .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sRQjR1mphb .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sRQjR1mphb .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-sRQjR1mphb .navbar.navbar-short {
  min-height: 80px;
}
.cid-sRQjR1mphb .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sRQjR1mphb .navbar.navbar-short .navbar-brand {
  min-height: 80px;
  padding: 0;
}
.cid-sRQjR1mphb .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sRQjR1mphb .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sRQjR1mphb .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sRQjR1mphb .dropdown-item.active,
.cid-sRQjR1mphb .dropdown-item:active {
  background-color: transparent;
}
.cid-sRQjR1mphb .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sRQjR1mphb .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sRQjR1mphb .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sRQjR1mphb .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sRQjR1mphb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sRQjR1mphb .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sRQjR1mphb ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sRQjR1mphb button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sRQjR1mphb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sRQjR1mphb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sRQjR1mphb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sRQjR1mphb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sRQjR1mphb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sRQjR1mphb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sRQjR1mphb nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sRQjR1mphb nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sRQjR1mphb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sRQjR1mphb .navbar-dropdown {
  position: fixed;
}
.cid-sRQjR1mphb a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sRQjR1mphb .navbar {
    height: 70px;
  }
  .cid-sRQjR1mphb .navbar.opened {
    height: auto;
  }
  .cid-sRQjR1mphb .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sRQjR1mphb .addr {
  text-align: center;
  max-width: 230px;
  min-width: 150px;
  margin: 0 10px;
}
@media (max-width: 992px) {
  .cid-sRQjR1mphb .addr {
    margin: 0 auto;
  }
}
.cid-sRQjR1mphb .mbr-section-subtitle.addr {
  color: #1d1d1b;
}
.cid-sRQjR1mphb .mbr-section-btn {
  flex: 0 0 240px;
}
.cid-sRQby9NjFs {
  background-image: url("../../../assets/images/3-bg.jpg");
}
.cid-sRQby9NjFs .decor {
  width: 90px;
  height: 90px;
  position: relative;
  flex: 0 0 100px;
}
.cid-sRQby9NjFs .decor svg {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: #3ab0da;
  transform: rotate(210deg) scale(1, -1);
}
.cid-sRQby9NjFs .mbr-text {
  color: #1d1d1b;
}
.cid-sRQby9NjFs .mbr-section-title {
  color: #1d1d1b;
}
.cid-sRQby9NjFs .mbr-section-subtitle {
  color: #1d1d1b;
}
.cid-sRQbBIAVHg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0e47a1;
}
.cid-sRQbBIAVHg .wrapper {
  background-color: #ffffff;
  padding: 100px 90px 50px 90px;
}
@media (max-width: 992px) {
  .cid-sRQbBIAVHg .wrapper {
    padding: 20px 30px;
  }
}
.cid-sRQbBIAVHg .title-section {
  margin-bottom: 50px;
}
.cid-sRQbBIAVHg .card-1 {
  background-color: #ffa4a7;
}
.cid-sRQbBIAVHg .card-2 {
  background-color: #90c8ff;
}
.cid-sRQbBIAVHg .card-3 {
  background-color: #ffbb7a;
}
.cid-sRQbBIAVHg .card-4 {
  background-color: #95ff81;
}
.cid-sRQbBIAVHg .card-img-top {
  width: 35px;
  height: 35px;
}
.cid-sRQcud4Jjb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #efa86e;
}
.cid-sRQcud4Jjb .title-section {
  margin-bottom: 4.5rem;
  padding: 0 90px;
}
@media (max-width: 992px) {
  .cid-sRQcud4Jjb .title-section {
    padding: 0 20px;
    margin-bottom: 2rem;
  }
}
.cid-sRQcud4Jjb .card,
.cid-sRQcud4Jjb .btn {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.2s linear;
}
.cid-sRQcud4Jjb .card:hover,
.cid-sRQcud4Jjb .btn:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.cid-sRQcud4Jjb .card {
  background-color: white;
}
.cid-sRQcud4Jjb .card-img-top {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
}
.cid-sRQcud4Jjb .list {
  margin-bottom: 18px;
}
.cid-sRQcud4Jjb .card-body {
  padding-top: 18px;
  padding-bottom: 20px;
}
.cid-sRQcud4Jjb .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sRQcud4Jjb .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sRQhy0qAS0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mountains-6761344.jpg");
}
.cid-sRQhy0qAS0 .card {
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(29, 29, 27, 0.2);
  transition: all 0.6s ease;
}
.cid-sRQhy0qAS0 .card:hover {
  transform: scale(1.03);
}
.cid-sRQhy0qAS0 .card-padding {
  padding: 0.72rem 0.75rem;
}
.cid-sRQhy0qAS0 .title-section {
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .cid-sRQhy0qAS0 .title-section {
    padding: 0 6rem;
    margin-bottom: 4rem;
  }
}
.cid-sRQhy0qAS0 .img-container {
  display: flex;
  justify-content: center;
}
.cid-sRQhy0qAS0 .card-img-top {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
}
.cid-sRQhy0qAS0 .mbr-section-subtitle {
  text-align: center;
}
.cid-sRQhy0qAS0 .mbr-text {
  text-align: center;
}
.cid-sRQhy0qAS0 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sRQcCS48eJ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e4f2fd;
}
.cid-sRQcCS48eJ .card {
  background: transparent;
}
.cid-sRQcCS48eJ .title-section {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .cid-sRQcCS48eJ .title-section {
    margin-bottom: 3rem;
  }
}
.cid-sRQcCS48eJ .card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sRQcCS48eJ .card-img {
    width: 345px;
    height: 345px;
  }
}
.cid-sRQcCS48eJ .header-container {
  padding: 10px;
}
.cid-sRQcCS48eJ .card-body {
  padding: 10px;
}
.cid-sRQcCS48eJ .mbr-section-title {
  text-align: center;
}
.cid-sRQoPK3EDs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mountain-fv.jpg");
}
.cid-sRQoPK3EDs .wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(29, 29, 27, 0.2);
}
@media (min-width: 992px) {
  .cid-sRQoPK3EDs .container {
    padding: 60px;
  }
}
.cid-sRQoPK3EDs .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-sRQoPK3EDs .carousel .carousel-container {
  position: relative;
}
.cid-sRQoPK3EDs .carousel .carousel-container .carousel-inner {
  border-radius: 20px;
}
.cid-sRQoPK3EDs .carousel .carousel-container .carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  margin: 0;
  display: flex;
}
.cid-sRQoPK3EDs .carousel .carousel-container .carousel-indicators button {
  display: block;
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  margin: 0 8px;
  padding: 0;
  border-radius: 50%;
  background-color: #c0d0f8;
  opacity: 1;
  transition: 0.4s ease;
}
.cid-sRQoPK3EDs .carousel .carousel-container .carousel-indicators .active {
  background-clip: padding-box;
  background-color: #1976d3;
}
.cid-sRQoPK3EDs .carousel .buttons-container {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.cid-sRQoPK3EDs .carousel .buttons-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1976d3;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.cid-sRQoPK3EDs .carousel .buttons-container button span {
  line-height: 2px;
  color: white;
}
.cid-sRQcQBB56O {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0e47a1;
}
.cid-sRQcQBB56O .wrapper {
  background-color: #ffffff;
}
.cid-sRQcQBB56O li {
  list-style-type: none;
}
.cid-sRQcQBB56O .contact-info-m {
  margin-bottom: 1.875rem;
}
.cid-sRQcQBB56O .list-1 li {
  margin-bottom: 1rem;
}
.cid-sRQcQBB56O .list-1 li:last-child {
  margin-bottom: 0;
}
.cid-sRQcQBB56O .list-2 li {
  margin-bottom: 1.875rem;
}
.cid-sRQcQBB56O .list-2 li:last-child {
  margin-bottom: 0;
}
.cid-sRQcQBB56O ul {
  margin: 0;
}
.cid-sRQcQBB56O .logo {
  width: auto;
  height: 140px;
  object-fit: cover;
}
